* {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  background-repeat: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
}

.main-container {
  display: flex;
  width: 40vw;
  flex-direction: column;
}

h1 {
  color: white;
  text-align: center;
}

.select2.select2-container {
  width: 100% !important;
  margin: 10px;
}

.input-container #datepicker {
  display: block;
  height: 28px;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin: 10px;
  width: 97% !important;
  display: inline-block;
  padding: 0 5px;
  line-height: 28px;
  color: #444;
  font-size: 16px;
}

label {
  position: relative;
  color: white;
  margin: 10px 15px;
  font-weight: 700;
}